/* Main Page Style */

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: scroll;
    min-width: 1020px;
}

.headerBar, .footerBar  {
    display: flex;
    background: rgb(35, 92, 40);
    min-height: 12vh;
    align-items: center;
}

.headerBar p, .footerBar p {
    margin-left: 15vw;
    font-size: 2rem;
    font-weight: 700;
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace
}

.navBar {
    display: flex;
    background: rgb(194, 174, 91);
    min-height: 8vh;
    align-items: center;
    padding-left: 15vw;
    gap: 2vw;
}

.navBar button {
    height: 3.5vh;
    width: 8vw;
    min-width: 90px;
    border-radius: 25px;
}

.navBar .spacer {
    min-width: 17vw;
}

.navBar #searchQuery {
    height: 3vh;
    min-width: 20vw;
    border-radius: 25px;
    text-align: left;
    padding-left: 10px;
}

.mainWindow {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    min-height: 68vh;
    max-height: 68vh;
    overflow: scroll;
}

.mainWindow .mainWindowContent {
    background: rgb(161, 126, 76);
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, 20%);
    grid-template-rows: 30vh 30vh 30vh;
    grid-auto-rows: 30vh;   
    min-width: 714px;
}

.bookCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    height: 85%;
    aspect-ratio: 1.5 / 2;
}

.bookCard p {
    padding: 3%;
    margin-left: 2rem;
    max-width: 80%;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    color: ivory;
}

.mainWindow .mainWindowBkgrnd {
    background: rgb(167, 167, 167);
}

.footerBar {
    justify-content: center;
}

.footerBar p {
    font-size: 1rem;
    margin: 0;
}

/* Internal Forms for Add / Delete / Book Info */

.mainWindow button {
    min-width: 5rem;
    border-radius: 20px;
}

.closeForm {
    background: darkred;
    color: ivory;
}

.confirmForm {
    background: forestgreen;
    color: ivory;
}

.bookInfoOverlay, #addBookOverlay, #removeBookOverlay {
    position: absolute;
    background: ivory;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

.bookInfoOverlay {
    width: 30vw;
    height: 45vh;
    margin-top: 8vh;
    margin-left: 17vw;
    display: none;
    flex-direction: column;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    padding: 1% 3% 2%;
    gap: 4%;
}

.bookInfoOverlay p {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5%;
}

.bookInfoOverlay div {
    display: flex;
}

.bookInfoOverlay div p {
    min-width: 50%;
    font-weight: 600;
    font-size: 1.2rem;
}

.bookInfoOverlay div .bookData {
    font-weight: 300;
}

.bookInfoOverlay #bookImage {
    display: flex;
    justify-content: center;
    min-height: 5vw;
    aspect-ratio: 1 / 1;
}

#addBookOverlay {
    width: 30vw;
    height: 40vh;
    margin-top: 10vh;
    margin-left: 17vw;
    display: none;
    flex-direction: column;
    padding: 1% 3% 2%;
    gap: 2%;
}

#addBookOverlay p {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5%;
}

#removeBookOverlay { 
    width: 25vw;
    height: 10vh;
    margin-top: 6vh;
    margin-left: 20vw;
    display: none;
    flex-direction: column;
    padding: 1% 3% 1%;
    gap: 10%;
}

